extends base.pug

block content 
  div.row 
    div.col-md-10 
      h2 #{application.name} - Delete
  div.row
    ul.nav.nav-tabs.mrgn-lft-md.mrgn-bttm-md
      li
        a(href=`/applications/${application.id}`) Application Details 
      li 
        a(href=`/edit/application/${application.id}`) Edit Application
      li.active
        a(href=`/delete/application/${application.id}`) Delete Application 
  div.content-section
    div.container
      form(id="UpdateApplicationForm", action=`/applications/${application.id}?_method=DELETE`, method="post")
        fieldset.form-group 
          legend.border-bottom.mrgn-bttm-mb Delete Application
          h2 Are you sure you want to delete this application? "#{application.name}"
        div.form-group 
          button(type="submit").btn.btn-danger Yes I am sure!
          a(href=`/applications/${application.id}`).btn.btn.default Cancel