extends base.pug

block content 
  include messages.pug
  div.row 
    div.col-md-10 
      h2 #{result.application.Name} - Details 
  div.row
    ul.nav.nav-tabs.mrgn-lft-md.mrgn-bttm-md
      li.active
        a(href=`/applications/${result.application.id}`) Application Details 
      li 
        a(href=`/edit/application/${result.application.id}`) Edit Application
      li
        a(href=`/delete/application/${result.application.id}`) Delete Application 
  div(class="panel panel-default")
    div(class="panel-heading")
      strong Application Details
    table(class="wb-tables table table-bordered table-hover" data-wb-tables='{ "ordering" : false }')
      tbody
        tr 
          th Name:
          td #{result.application.Name}
        tr 
          th Description: 
          td #{result.application.Desc}
        tr 
          th Owner: 
          td #{result.application.Owner}