extends base.pug

block content 
  div.row 
    div.col-md-10 
      h2 #{application.Name} - Details 
  div.row
    ul.nav.nav-tabs.mrgn-lft-md.mrgn-bttm-md
      li.active
        a(href=`/applications/${application.id}`) Application Details 
      li 
        a(href=`/edit/application/${application.id}`) Edit Application
      li
        a(href=`/delete/application/${application.id}`) Delete Application 
  div(class="panel panel-default")
    div(class="panel-heading")
      strong Details
    table(class="wb-tables table table-bordered table-hover" data-wb-tables='{ "ordering" : false }')
      tbody
        tr 
          th Application Name:
          td #{application.Name}
        tr 
          th Application ID: 
          td #{application.id}