extends base.pug

block content
  h1 COE Accessibility Checker Dashboard

  div(style="border: 1px solid #ccc; padding: 10px;")
    div.row
      div.col-xs-4
        button(type="button" id="id_prev_year" aria-label="Previous Year").btn.btn-default.pull-left < Previous
      div.col-xs-4.text-center
        h2(id="id_year" style="margin-top: 0px;") 
      div.col-xs-4.text-right
        button(type="button" id="id_next_year" aria-label="Next Year" disabled).btn.btn-default.pull-right Next >
    hr(style="margin-bottom: 0px; margin-top: 5px;")
    div(style="height:40vh;")
      canvas(id="id_pie_chart" style="display: block; margin: 0 auto; height:40vh; width:80vw;")
    div(style="display: none;" id="id_pie_chart_table")
      table(id="id_table")
        thead 
          tr 
            th Application Name
            th Application Environment
            th Application Owner
            th Application Status

  br
  div(style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;")
    div.row
      div.text-center
        h2(id="id_portfolio_status" style="margin-top: 0px;") Accessibility Status of Application Portfolio
    hr(style="margin-bottom: 0px; margin-top: 5px;")
    div(style="")
      canvas(id="id_bar_chart")
    div(style="display: none;" id="id_bar_chart_table")
      table(id="id_bar_table")
        thead 
          tr 
            th Application Name
            th Application Environment
            th Application Owner
            th Application Status 
    
  block script 
    script(src="/static/js/jquery/jquery-3.7.0.min.js")
    link(rel="stylesheet" href="/static/js/DataTables-1.13.4/css/jquery.dataTables.css")
    script(src="/static/js/DataTables-1.13.4/js/jquery.dataTables.js") 
    script(type="text/javascript" src="static/js/ChartJs/chart.umd.js")
    script(type="text/javascript" src="static/js/ChartJs/plugins/chartjs-plugin-datalabels.min.js") 
  script.
    let today = new Date();
    let currYear = new Date().getFullYear();
    let pieChart = null;
    let barChart = null;
    let pieTable = null;
    let barTable = null;

    const pieChartEl = document.getElementById('id_pie_chart');
    const barChartEl = document.getElementById('id_bar_chart');
    const prevYearButton = document.getElementById('id_prev_year');
    const nextYearButton = document.getElementById('id_next_year');
    const currYearText = document.getElementById('id_year');
    const pieChartTable = document.getElementById('id_pie_chart_table');
    const barChartTable = document.getElementById('id_bar_chart_table');

    prevYearButton.addEventListener('click', loadPrevYear);
    nextYearButton.addEventListener('click', loadNextYear);

    async function initializePage() {
      currYearText.innerHTML = `${currYear} Accessibility Compliance Programme Status`;
      await buildPieChart(currYear);
      await buildBarChart();
      await buildTableForPieChart(-1);
      await buildTableForBarChart(-1)
    }
    initializePage();


    async function loadPrevYear() {
      currYear -= 1;
      currYearText.innerHTML = `${currYear} Accessibility Compliance Programme Status`;
      pieChart.destroy();
      pastDueArr = [];
      scheduledArr = [];
      inProgressArr = [];
      completedArr = [];
      allEvents = [];
      await buildPieChart(currYear);
      await buildTableForPieChart(-1);
      if (currYear <  today.getFullYear()) {
        nextYearButton.disabled = false;
      }
      if (currYear <= 2022) {
        prevYearButton.disabled = true;
      }
    }

    async function loadNextYear() {
      currYear += 1;
      currYearText.innerHTML = `${currYear} Accessibility Compliance Programme Status`;
      pieChart.destroy();
      pastDueArr = [];
      scheduledArr = [];
      inProgressArr = [];
      completedArr = [];
      allEvents = [];
      await buildPieChart(currYear);
      await buildTableForPieChart(-1);
      if (currYear >=  today.getFullYear()) {
        nextYearButton.disabled = true;
      }
      if (currYear >= 2022) {
        prevYearButton.disabled = false;
      }
    }

    let pastDueArr = [];
    let scheduledArr = [];
    let inProgressArr = [];
    let completedArr = [];
    let allEvents = [];

    async function buildPieChart(year) {
      let response = await fetch(`/events?year=${year}`);
      let responseData = await response.json();
      let parsedData = {
        "numScheduled": 0,
        "numInProgress": 0,
        "numCompleted": 0,
        "numPastDue": 0,
        "numTotal": responseData.length
      };

      for (let i = 0; i < responseData.length; i++) {
        let currEventEnd = null;
        allEvents.push(responseData[i]);
        if (responseData[i].ActualCompletion && responseData[i].ActualCompletion > responseData[i].EstimatedCompletion) {
          currEventEnd = responseData[i].ActualCompletion;
        }
        else {
          currEventEnd = responseData[i].EstimatedCompletion;
        }
        let endDateArr = currEventEnd.replace('T00:00:00.000Z', '').split("-");
        let endDate = new Date(endDateArr[0], endDateArr[1]-1, endDateArr[2]);

        if ((today>endDate) && (responseData[i].StatusID != 3)) {
          parsedData.numPastDue += 1;
          responseData[i].status = "Past-Due";
          pastDueArr.push(responseData[i]);
        }
        else if (responseData[i].StatusID == 1) {
          parsedData.numScheduled += 1;
          responseData[i].status = "Scheduled";
          scheduledArr.push(responseData[i]);
        }
        else if (responseData[i].StatusID == 2) {
          parsedData.numInProgress += 1;
          responseData[i].status = "In Progress";
          inProgressArr.push(responseData[i]);
        }
        else if (responseData[i].StatusID == 3) {
          parsedData.numCompleted += 1;
          responseData[i].status = "Completed";
          completedArr.push(responseData[i]);
        }
      }
      pieChart = new Chart(pieChartEl, {
        type: 'pie',
        data: {
          labels: ['Scheduled', 'In Progress', 'Completed', 'Past Due'],
          datasets: [{
            label: ['Number of Projects'],
            data: [parsedData.numScheduled, parsedData.numInProgress, parsedData.numCompleted, parsedData.numPastDue],
            backgroundColor: [
              'rgb(128, 128, 128)', 'rgb(54, 162, 235)', 'Green', 'rgb(255, 99, 132)'
            ]
          }]
        },
        options: {
          responsive: true,
          plugins: {
            datalabels: {
              color: 'rgb(0, 0, 0)',
              formatter: function(context, args) {
                let percentVal = (context / parsedData.numTotal) * 100;
                return `${parseFloat(percentVal).toPrecision(3)}%`;
              }
            }
          },
        },
        plugins: [ChartDataLabels]
      });
      return;
    }

    let allApps = [];
    let compliantApps = [];
    let nonCompliantApps = [];
    let unknownApps = [];

    async function buildBarChart() {
      let response = await fetch('/applications');
      let responseData = await response.json();
      let parsedData = {
        "numTotal": 0,
        "numCompliant": 0,
        "numNonCompliant": 0,
        "numUnknown": 0
      }

      for (let i = 0; i < responseData.length; i++) {
        allApps.push(responseData[i]);
        parsedData.numTotal++;
        if (responseData[i].Tests.length == 0 || responseData[i].Pages.length == 0) {
          parsedData.numUnknown++;
          responseData[i].status = "Unknown";
          unknownApps.push(responseData[i]);
          continue;
        }
        let compliant = true;
        for (let j = 0; j < responseData[i].Pages.length; j++) {
          if (!(responseData[i].Pages[j].ComplianceID == 1)) {
            compliant = false;
            parsedData.numNonCompliant++;
            responseData[i].status = "Non-Compliant";
            nonCompliantApps.push(parsedData[i]);
            break;
          }
        }
        if (compliant) {
          parsedData.numCompliant++;
          responseData[i].status = "Compliant";
          compliantApps.push(responseData[i]);
        }
      }

      barChart = new Chart(barChartEl, {
        type: 'bar',
        data: {
          labels: ['WCAG Compliant', 'WCAG Non-Compliant', 'Unknown (Not Yet Tested)'],
          datasets: [{
            data: [parsedData.numCompliant, parsedData.numNonCompliant, parsedData.numUnknown],
            backgroundColor: [
              'rgb(54, 162, 235)', 'rgb(255, 99, 132)', 'rgb(128, 128, 128)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: "Number of Applications"
              }
            }
          },
          plugins: {
            datalabels: {
              color: 'rgb(0, 0, 0)',
              formatter: function(context, args) {
                return context;
              }
            },
            legend: {
              display: false
            }
          }
        },
        plugins: [ChartDataLabels]
      });
    }

    pieChartEl.onclick = async function(evt) {
      let slice = pieChart.getElementsAtEventForMode(
          evt,
          'nearest',
          { intersect: true },
          true
      );
      await buildTableForPieChart(slice[0].index);
    }

    barChartEl.onclick = async function(evt) {
      let bar = barChart.getElementsAtEventForMode(
          evt,
          'nearest',
          { intersect: true },
          true
      );
      await buildTableForBarChart(bar[0].index);
    }

    async function buildTableForPieChart(index) {
      try{
        pieTable.destroy();
      }
      catch {
        console.log("DataTables not initialized");
      }
      let data = [];
      if (index == 0) {
        data = scheduledArr;
      }
      else if (index == 1) {
        data = inProgressArr;
      }
      else if (index == 2) {
        data = completedArr;
      }
      else if (index == 3) {
        data = pastDueArr;
      }
      else {
        data = allEvents;
      }

      pieTable = new DataTable('#id_table', {
        data: data,
        "columns": [
          { "data": "App.Name" },
          { "data": "App.env.env" },
          { "data": "App.Owner" },
          { "data": "status"}
        ]
      });
      pieChartTable.style.display = 'block';
    } 

    async function buildTableForBarChart(index) {
      try{
        barTable.destroy();
      }
      catch {
        console.log("DataTables not initialized");
      }
      let data = [];

      if (index == 0) {
        data = compliantApps;
      }
      else if (index == 1) {
        data = nonCompliantApps;
      }
      else if (index == 2) {
        data = unknownApps;
      }
      else {
        data = allApps;
      }
      barTable = new DataTable('#id_bar_table', {
        data: data,
        "columns": [
          { "data": "Name" },
          { "data": "env.env" },
          { "data": "Owner" },
          { "data": "status"}
        ]
      });
      barChartTable.style.display = 'block';
    }